<%- include("partials/header") %>
<div class="continer" style="margin-left: 200px; margin-right: 200px;">
    <div class="row">
<h1 style="text-align:center ;">Add New Comments To <%=campground.name%></h1>
    <div style="width:30%; margin:25px auto;">
        <form action="/campground/<%= campground._id%>/comment" method="POST">
         <div class="row mb-3">
           <input class="form-control" type="text" name="comment[text]" placeholder="Text">
         </div>
         <!-- <div class="row mb-3">
           <input class="form-control" type="text" name="comment[author]" placeholder="Author">
        </div> -->
           <div class="row mb-3">
           <button class="btn btn-lg btn-primary " style="width:100%;">SUBMIT!</button>
        </div>
        </form>
       <a href="/campground">Go Back</a> 
    </div>
</div>
</div>
<%- include("partials/footer") %>