<%- include("partials/header") %>
<div class="continer" style="margin-left: 200px; margin-right: 200px;">
    <div class="row">
<h1 style="text-align:center ;">Create A New Campground</h1>
    <div style="width:30%; margin:25px auto;">
        <form action="/campground" method="POST">
         <div class="row mb-3">
           <input class="form-control" type="text" name="name" placeholder="name">
         </div>
         <div class="row mb-3">
          <input class="form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01">
        </div>
         <div class="row mb-3">
           <input class="form-control" type="text" name="image" placeholder="image URL">
        </div>
           <div class="row mb-3">
           <button class="btn btn-lg btn-primary " style="width:100%;">SUBMIT!</button>
        </div>
        </form>
       <a href="/campground">Go Back</a> 
    </div>
</div>
</div>
<%- include("partials/footer") %>